.option_brand {
  text-align: center;
}
.option_brand .option_brand_text {
  height: 20px;
  opacity: 1;
  font-size: 14px;
  font-family: PingFangSC, PingFangSC_Regular;
  font-weight: 400;
  text-align: left;
  color: #8c8c8c;
  line-height: 20px;
}
.option_input {
  width: 552px;
  height: 32px;
}
.option_brand_text {
  font-size: 14px;
  font-family: PingFangSC, PingFangSC-Regular;
  font-weight: 400;
  text-align: left;
  color: #8c8c8c;
  line-height: 20px;
}
.option_expression {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.option_word_input {
  width: 350px;
  margin-left: 16px;
}
.option_expression .option_expression_discern {
  width: 568px;
  height: 442px;
  border: 1px solid #e5e5e5;
  padding: 10px;
}

.option_expression .option_text {
  padding-bottom: 16px;
}
