.dashBord-filter-wrap {
  border: 1px solid;
  .dashBord-header {
    display: flex;
    padding: 11px 24px;
    .left-content {
      flex: 4;
      display: inline-flex;
      align-items: center;
      .title {
        font-size: 16px;
        font-weight: 600;
        color: #262626;
        line-height: 16px;
      }
      .icon-liebiao {
        font-size: 16px;
        margin-left: 16px;
        margin-right: 28px;
      }
      .ant-btn {
        width: 110px;
        line-height: 16px;
        .icon-liebiao {
          font-size: 16px;
          margin-right: 8px;
          margin-left: 0;
        }
      }
    }
    .right-content {
      flex: 1;
      display: inline-flex;
      flex-direction: row-reverse;
      .ant-btn {
        display: flex;
        align-items: center;
        color: #262626;
        .icon-liebiao {
          color: #8c8c8c;
          font-size: 14px;
          margin-right: 6px;
        }
      }
      .date-picker-lable {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
  .dashBord-hr {
    display: block;
    height: 1px;
    background: #e5e5e5;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  }
  .dashBord-content {
    min-height: 138px;
    padding: 11px 24px;
    position: relative;
    .footer-button {
      position: absolute;
      bottom: 16px;
      right: 24px;
    }
  }
}
