.test {
  border: 1px solid;
  width: 500px;
  .rbq {
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    border-radius: 50%;
    color: #262626;
    border: 1px solid #e5e5e5;
    display: inline-block;
  }
  .ant-rate-star-full {
    .rbq {
      // color: white;
      // background-color: hotpink;
    }
  }
}
